body {
  background: linear-gradient(-45deg, #3124e9, #4a25a1, #2469e9);
  background-size: 400vh 400vw;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.done {
  text-decoration: line-through;
}

.title {
  font-size: 60px;
  color: white;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.item-input {
  margin: 0px 25px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  border: none;
}

input:focus {
  outline: none;
}

.item-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 10px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #0756a0;
  width: 35px;
  height: 15px;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.88);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0px 1px 20px -2px rgba(162, 195, 255, 0.88);
  background-color: #6bb0ff;
  color: white;
}

.btn__add {
  padding: 15px 5px;
}

.btn__add::before {
  content: "+";
}

.btn__delete {
  padding: 10px 0px;
  width: 20px;
}

.btn__delete::before {
  content: "x";
}

.nav-btn {
  width: 60px;
  height: 30px;
}

.nav {
  border-bottom: 1px solid #1e0c49;
  padding-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.about {
  margin: 30px;
  font-size: 40px;
  color: white;
}
